*{
box-sizing: border-box;
padding: 0%;
margin: 0%;
}
.header{
padding: 0px 65px;
/* margin: 10px; */
display: flex;
align-items: center;
justify-content: space-between;
background-color: black;
}
#container{
    padding: 10px;
    margin: 10px;
    display: flex;
/* text-decoration: none; */
justify-content: space-between;
list-style: none;
text-decoration: none;
/* background-color: black; */
gap: 50px;
}
/* .navlist{
    padding: 10px;
    margin: 10px; */
    /* display: flex; */
/* text-decoration: none; */
/* } */
/* .container li{ */
/* float: left; */
/* } */

